<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <div class="card" *ngIf="signIn && !pay">
      <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white"> Login</h4>
      </div>
      <!-- <form> -->
      <div class="form-body">
        <div class="card-body">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" value="USbtYifDREjQsDdAtUcHFHZ8" autocomplete="off"
              placeholder="User Name">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" autocomplete="off" value="a590a37d-832c-4ecb-bf03-de4c957bf648"
              placeholder="Password">
          </div>
          <div class="footer float-right mb-3">
            <button (click)="logIn()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="card" *ngIf="pay && !signIn">
      <div class="card-header bg-dark">
        <h4 class="m-b-0 text-white"> Payout</h4>
      </div>
      <!-- <form [formGroup]="payoutForm" (ngSubmit)="payout()"> -->
      <form>
        <div class="form-body">
          <div class="card-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" value="test" autocomplete="off" placeholder="Name">
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label for="inputCard">Card Number</label>
                <input type="text" class="form-control" id="inputCard" value="4957030420210454" autocomplete="off"
                  minlength="15" maxlength="16" placeholder="4111 1111 1111 111">
              </div>
              <div class="form-group col-md-4">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" autocomplete="off" value="112" minlength="3" maxlength="4"
                  placeholder="578">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-4">
                <label for="month">Month</label>
                <input type="text" class="form-control" id="month" value="12" autocomplete="off" minlength="2" maxlength="2"
                  placeholder="12">
              </div>
              <div class="form-group col-md-4">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" value="2020" autocomplete="off" minlength="4" maxlength="4"
                  placeholder="2022">
              </div>
  
  
              <div class="form-group col-md-4">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" value="94114" autocomplete="off" placeholder="04106">
              </div>
            </div>
            <div class="footer float-right mb-3">
              <button type="submit" (click)="payout()" class="btn btn-primary">Submit</button>
              <!-- <button type="submit" [disabled]="payoutForm.pristine || payoutForm.invalid" (click)="payout()" class="btn btn-primary">Submit</button> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
</body>
</html>